---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import type { CallToAction as Props } from '~/types';

const {
  variant = 'secondary',
  target,
  text = Astro.slots.render('default'),
  icon = '',
  leftIcon = '',
  class: className = '',
  type,
  ...rest
} = Astro.props;

const variants = {
  primary: 'btn-primary text-xs py-2 px-2',
  secondary: 'btn-secondary text-xs py-2 px-2',
  tertiary: 'btn btn-tertiary text-xs py-2 px-2',
  accent: 'btn-accent text-xs py-2 px-2',
  link: 'cursor-pointer hover:text-primary text-xs py-2 px-2',
};
---

{
  type === 'button' || type === 'submit' || type === 'reset' ? (
    <button type={type} class={twMerge(variants[variant] || '', className)} {...rest}>
      <Fragment set:html={text} />
      {icon && <Icon name={icon} class="w-3 h-3 ml-1 -mr-1.5 rtl:mr-1 rtl:-ml-1.5 inline-block" />}
    </button>
  ) : (
    <a
      class={twMerge(variants[variant] || '', className)}
      {...(target ? { target: target, rel: 'noopener noreferrer' } : {})}
      {...rest}
    >
      {leftIcon && <Icon name={leftIcon} class="w-3 h-3 mr-1 inline-block" />}
      <Fragment set:html={text} />
      {icon && <Icon name={icon} class="w-3 h-3 ml-1 -mr-1.5 rtl:mr-1 rtl:-ml-1.5 inline-block" />}
    </a>
  )
}